@model  HomeDetailsViewModel
<html>
   
    <body>
        <h1>@Model.Title</h1>

        <h1>Name: @Model.Staff.FirstName @Model.Staff.LastName</h1>
        <h1>Email: @Model.Staff.Email</h1>
        <h1>Department: @Model.Staff.Department</h1>
    </body>
</html>